// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/ELFA79_jellybeanssk_TP_V.jpg");   
}

.top-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    color: white;
    background-color: rgba(145, 91, 91, 0.5);
}

h1 {
    padding-left: 40px;
}

p {
    padding-left: 50px;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    margin-left: 50px;
    opacity: 0.8;
  }
  
  .btn-start {
    background-color: #ff590b;
  }