<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header></header>
    <div class="top-wrapper">
        <div class="top-container">
          <h1>みえる、人間関係</h1>
          <h1>わかる、人間関係</h1>
          <p>さあ、あなたの人間関係を表現してみましょう。</p>
          <p>きっと、いままで見えなかったものが見えるようになります。</p>
          <p>＜Coming Soon...＞</p>
        </div>
      </div>
    <div class="about-wrapper"></div>
    <div class="message-wrapper"></div>
    <footer>
    <a href="https://pakutaso.com" title="フリー写真素材ぱくたそ" >フリー写真素材ぱくたそ </a>
    </footer>
  </body>
</html>
